// Icon Place Holders because you shouldn't have to code content codes into your custom scss

%-icon-lock {
  content: "\1F512";
}

%-icon-star {
  content: "\2605";
}

%-icon-linkedin {
  content: "\e900";
}

%-icon-twitter {
  content: "\e901";
}

%-icon-facebook {
  content: "\e903";
}

%-icon-agent {
  content: "\1F464";
}

%-icon-close {
  content: "\2715";
}

%-icon-arrow-up {
  content: "\2B06";
}

%-icon-arrow-down {
  content: "\2B07";
}

%-icon-attachments {
  content: "\1F4CE";
}

%-icon-comments {
  content: "\1F4AC";
}

%-icon-search {
  content: "\1F50D";
}

%-icon-vote {
  content: "\1F44D";
}

%-icon-handle {
  content: "\25BE";
}

%-icon-check {
  content: "\2713";
}

%-icon-gear {
  content: "\2699";
}

%-icon-menu {
  content: "\2630";
}

%-icon-article {
  content: "\1F4C4";
}

%-icon-post {
  content: "\1F4D4";
}

%-icon-notification-alert {
  content: "\26A0";
}

%-icon-notification-error {
  content: "\00D7";
}

%-icon-notification-info {
  content: "\2139";
}

%-icon-notification-success {
  content: "\2714";
}
